body{
    background-color: black;
    color: white;
    
}
#aman{
    color: rgb(211, 11, 55);
    font-size: 25px;

}
.logo{
    display: flex;
    font-size: 25px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(211, 11, 55);
    position: absolute;
    left: 0;
    bottom: -6px;
    transform: 0.5;
}
nav ul li a:hover::after{
    width: 100%;

}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(image/Aman2.png);
    background-size: cover;
    background-position: right;

}
.hi{
    font-size: 40px;
}
.aman{
    color: rgb(211, 11, 55);
    font-size: 40px;
}
.img{
    left: 0;
}
.content{
    display: flex;
    justify-content: space-around;
}
.info{
    padding-left: 20px;
    padding-top: 10%;
}
.Social{
    font-size: 20px;
}
.icon{
    display: flex;
}
.about{
    background-color: rgb(36, 32, 32);
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 35px;
    padding-bottom: 20px;
}
.img1{
    background-color: rgb(179, 172, 172);
    width: 20%;
    height: 40%;
    border-radius: 10px;
}
.main{
    display: flex;
    justify-content: space-around;
}
.aboutinfo{
    font-size: 20px;
}
.Edu{
    background-color: black;
    margin: 25px;
    padding: 30px;
}
.heading{
    display: flex;
    justify-content: space-around;
}
#yellow{
    color: rgb(224, 161, 23);
}
.edu1{
    background-color: rgb(37, 37, 37);
    padding: 8px;
    margin: 10px;
    width: 110%;
}
.study{
    display: flex;
    justify-content: space-around;
}
.skill1{
    padding: 35px;
    border-radius: 15px;
    width: 70%;
}
.skill2{
    padding-top: 55px;
    padding-left: 50px;
    border-radius:0%;
    border-left: 1px solid gray;
}
.skills{
    background-color:  rgb(37, 37, 37);
    display: flex;
    justify-content: space-around;
}
.project{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.pro{
    background-color: gray;
    border-radius: 10px;
    padding-top: 25px;
    margin: 15px;
}






form {
	min-width: 25rem;
    text-align: center;
    margin: 15px;
	
	.title {
		font-family: 'Pacifico', cursive;
		color:  rgb(224, 161, 23);
		font-size: 2.5rem;
	}
	
  .form-control {
    background-color: #f2f6f8;
	border-radius: 1.5rem;
    margin: 10px;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		
    &.thick {
      height: 3rem;
      padding: .5rem 3.5rem;
    }
		
		&:focus {
			background-color: #f2f6f8;
			border: none;
			box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		}
  }
	
	.message .form-control {
			padding: .5rem 1.8rem;
	}
	
  ::placeholder {
    font-family: 'Quicksand', sans-serif;
		font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }
	
  input,
  textarea {
		font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 1.1rem;
  }
	
  .icon {
    color:  rgb(224, 161, 23);
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
}

.btn.btn-primary {
  font-family: 'Quicksand', sans-serif;
	font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image:linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

footer{
    background-color: gray;
}
footer p {
    padding: 40px 0;
    text-align: center;
    color: black;
    border-top: 1px solid black;
}
